@font-face {font-family: "NTF Grand"; src: url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.eot"); src: url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.woff") format("woff"), url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.svg#NTF-Grand-Regular") format("svg"); }



#timer{
	font-family:NTF Grand,sans-serif;
	font-variant-numeric:tabular-nums;
	text-align:center;
	
}

.timer{
	
	color:#fff;
	text-shadow:-1px -1px 0px #2cf,
				1px -1px 0px #2cf,
				-1px 1px 0px #2cf,
				1px 1px 0px #2cf,
				0px 0px 15px #fff,
				0px 0px 20px #5af,
				0px 0px 25px #5af,
				0px 0px 30px #5af,
				0px 0px 35px #5af,
				0px 0px 40px #5af;
}

#title{
	color:white
}