.About-card {
  width: 100%;
  height: 35rem;
  /* border:1px solid blue; */
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.About-card p {
  z-index: 1;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: justify;

}
.About-card::before {
  content: "";
  position: absolute;
  width: 500px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.About-card::after {
  content: "";
  position: absolute;
  background: #07182e;

  inset: 5px;
  border-radius: 15px;
}
/* .question{   
  background: #ff0000; 
  background: -webkit-linear-gradient(to right, #ff0000, #9932cc); 
  background: linear-gradient(to right, #ff0000, #9932cc); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

} */

.mob-video {
    width: 70%;
    height: 600px;
    background: black;
    border-radius: 35px;
    border: 2px solid rgb(40, 40, 40);
    padding: 7px;
    position: relative;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.486);
    
  }

  .mob-int {
    background-size: 200% 200%;
    background-position: 0% 0%;
    height: 100%;
    border-radius: 25px;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
  .CSI_Video{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    
    /* background-position: center; */
    border-radius: 2rem;
    /* border: 1px solid white; */
}
  
  
  
  .speaker {
    position: absolute;
    top: 2px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 40%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(20, 20, 20);
  }
  
  .camera {
    position: absolute;
    top: 6px;
    right: 84%;
    transform: translate(50%, 0%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.048);
  }
  
  .int {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 255, 0.212);
  }
  
  .btn1, .btn2, .btn3, .btn4 {
    position: absolute;
    width: 2px;
  }
  
  .btn1, .btn2, .btn3 {
    height: 45px;
    top: 30%;
    right: -4px;
    background-image: linear-gradient(to right, #111111, #222222, #333333, #464646, #595959);
  }
  
  .btn2, .btn3 {
    transform: scale(-1);
    left: -4px;
  }
  
  .btn2, .btn3 {
    transform: scale(-1);
    height: 30px;
  }
  
  .btn2 {
    top: 26%
  }
  
  .btn3 {
    top: 36%
  }
  
  .hello {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    height: 100%;
    transition: 0.5s ease-in-out;
  }
  
  /* .hidden {
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in;
  }
  
  .card:hover .hidden {
    opacity: 1;
  }
  
  .card:hover .hello {
    transform: translateY(-20px);
  } */
  
  
  
