.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999; /* Add a value for z-index */
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%; /* Changed from 20px to 50% for a circular shape */
  background-color: #fff;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
