@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bot{
    position: absolute;
    bottom: -7.5rem!important;
}

.tbox:hover .bot{
    bottom: -15rem!important;
} */

body{
    background-color: black;
}

.bottop:hover .bot{
    bottom: 0 !important;
    
}